/* Div đặc biệt */

.font-s{
    font-size: 10px;
}


/* Tablet */

@media(min-width: 46.25em) and (max-width:64em){
    #about{
        display: flex;
        flex-direction: column;
    }

    .about{
        max-width: 700px;
        margin: 0 auto;
    }
    
    .about__col{
        width: 45%;
    }
    
    .about__col img{ 
        float: right;
        width: 70%;
    }

    .col .buy-btn{
        text-align: center;
        padding: 16px 0;
        width: 92%;
    }
    
    /* Cuối trang */
    
    #footer .icon{
        font-size: 30px;
        padding: 16px;
    }
}

/* Smart phone */

@media (max-width: 46.1875em){
    .menu-icon{
        cursor: pointer;
        display: block;
        float: right;
        padding: 14px 22px 14px;
    }
    
    .menu-icon:hover{
        background-color: #f44336;
    }

    /* Thanh nav */

    .header__nav{
        display: block;
    }
    .header__nav a{
        display: block;
    }

    .header__nav a .a-full{
        width: 100%;
    }

    /*  */

    .description{
        line-height: 25px;
    }

    /* giới thiệu */

    #about{
        display: flex;
    }

    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .about__row{
        display: flex;
        flex-direction: column;
    }

    .about__col{
        width: 90%;
        display: block;
    }
    
    .about__col img{ 
        margin-top: 32px;
    }

    /* Sản phẩm bán */

    .product__row, .product__col{
        display: flex;
        flex-direction: column;
    }

    .product__row{
        padding: 0;
        align-items: center;
    }
    
    .product__col{
        margin: 0 0 32px 0;
        display: flex;
        width: 85%;
        box-shadow: 0 0 10px rgb(0 0 0 / 40%); 
    }

    .product__col:hover{
        width: 85%;
    }
    
    .product__col img{
        width: 100%;
    }
    
    .product__content{
        display: flex;
        flex-direction: column;
    }

    .product__col .product-name{
        font-size: 20px;
    }
    
    .product__col .product-cost{
        margin: 8px 0;
        font-size: 25px;
    }
    
    .product__view-btn{
        font-size: 23px;
        display: block;
        text-align: center;
        padding: 16px 0;
        width: 100%;
    }

    /* Nhan yeu thich  */

    .product__love-product {
        display: flex;
        color: #fff;
        background-color: #f25220;
        position: absolute;
        top: 30px;
        left: -13px;
        align-items: center;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .product__love-product::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 24px;
        bottom: -0.1875rem;
        border-top: 9px solid #913113;
        border-left: 13px solid transparent;
    }

    .product__love-product p{
        font-size: 18px;
        line-height: 24px;
    }

    /* cuối trang */

    #footer .icon{
        font-size: 30px;
        padding: 16px;
    }

    #footer .col-third{
        display: none;
    }
}