/* All */
*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 15px;
    scroll-behavior: smooth;
}

body{
    font-family: "Lato", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.center{
    text-align: center;
}

.clear{
    clear: both;
}

.line{
    display: block;
    height: 1px;
    background-color: #000;
}

.auto{
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
}

.font-s{
    font-size: 14px !important;
}

.btn{
    display: block;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 15px;
    float: right;

}

.btn:hover{
    background-color: #ccc;
    color: #000;
}

.mb-32{
    margin-bottom: 32px !important;
}

.phone-number{
    text-decoration:underline;
    color: #065fd4;
}

.menu-icon{
    display: none;
    color: #fff;
}

/* text-style */
.heading{
    width: 100%;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 200;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 30px;
}
.sub-heading{
    margin: 15px 0;
    opacity: 0.6;
    width: 100%;
    text-align: center;
}
.description{
    margin: 15px 0;
    text-align: justify;
    line-height: 25px;
}

/* main */
#header{
    overflow: hidden;
    height: 46.33px;
    background: #000;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header__nav{
    text-transform: uppercase;
    display: inline-block;
    background: #000;
}
.header__nav a{
    color: #fff;
    padding: 14.6px 24px;
    display: inline-block;
}

.nav__item:hover{
    color: #000;
    background-color: #ccc;
}

#slider{
    padding-top: 50%;
    background: url('../img/slider1.jpg') top center / cover;
}

#about{
    background-color: #000;
}

.about{
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 64px 16px;
    text-align: justify;
}

.about__row{
    margin: 0 auto;
    max-width: 800px;
    display: flex;
}

.about__col{
    width: 45%;
    padding: 0 16px;
    flex: 1;
}

.about .about__col__description{
    background-color: #fff;
    color: #000;
    border-radius: 1%;
}

.about__col img{ 
    width: 60%;
    text-align: center;
    border-radius: 50%;
    border: 5px solid #a65e1e;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

/* product */
.product, .product__row{
    display: flex;
    flex-direction: column;
}

.product{
    padding: 64px 16px;
    max-width: 800px;
    margin: 0 auto;
}

.product__row{
    padding: 32px 8px;
    flex-direction: row;
}

.product__col{
    cursor: pointer;
    float: left;
    margin: 0 1.3%;
    flex: 1;
    justify-content: center;
}

.product__col:hover{
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
}

.product__col img{
    display: block;
    width: 100%;
    text-align: center;
}

.product__content{
    padding: 8px;
    background: #ddd;
}

.product__name{
    margin-bottom: 20px;
    font-size: 15px;
}

.product__cost{
    color: #ee4d2d;
    font-weight: 500;
    margin: 8px 0;
    font-size: 18px;
}

.product__view-btn{
    color: #fff;
    display: inline-block;
    background-color: #f44336;
    padding: 8px;
    border-radius: 4px;
    margin: 8px 0;
}

.product__more {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.product__more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ddd;
    min-width: 24.375rem;
    height: 2.5rem;
    font-size: 14px;
}

/* OPP */

.link-opp{
    padding-top: 50%;
    background: url('../img/tuyendung.png') top center / cover;
}

.opp-btn{
    width: 20%;
    margin-left: 8%;
    margin-bottom: 3%;
}

.opp-btn:hover{
    opacity: 2;
}

#footer{
    padding: 42px 0;
    background-color: #e8e8e8;
    max-width: 100%;
    margin: 0 auto;
}

#footer .row{
    max-width: 438px;
    margin: 0 auto;
}

#footer .col-third{
    flex: 1;
    text-align: center;
    width: 30%;
    display: inline-block;
}

#footer .col-third a{
    display: block;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #000;
}

#footer .col-third a:hover{
    color: #f44336;
    font-weight: bold;
}

#footer .icon{
    max-width: 185px;
    margin: 0 auto;
    font-size: 30px;
    padding: 32px 0;
    text-align: center;
    display: flex;
}

#footer i{
    padding: 8px;
    display: inline-block;
}

#footer i:hover{
    color: rgb(0, 0, 255);
}

.page{
    display: none;
}




