/* 1em = 1em */

.mb-32{
    margin-bottom: 2em !important;
}

.phone-number{
    text-decoration:underline;
    color: #065fd4;
}

.menu-icon{
    display: none;
    color: var(--white-color);
}

/* text-style */
.heading{
    width: 100%;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 200;
    margin: 0.625em 0;
    text-transform: uppercase;
    font-size: 1.875em;
}
.sub-heading{
    margin: 15px 0;
    opacity: 0.6;
    width: 100%;
    text-align: center;
}
.description{
    margin: 15px 0;
    text-align: justify;
    line-height: 25px;
}

/* main */
#header{
    overflow: hidden;
    height: 46.33px;
    background: var(--black-color);
    box-shadow: 0 0 0.625em rgb(0 0 0 / 40%);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header__nav{
    text-transform: uppercase;
    display: inline-block;
    background: var(--black-color);
}
.header__nav a{
    color: var(--white-color);
    padding: 14.6px 24px;
    display: inline-block;
}

.nav__item:hover{
    color: var(--black-color);
    background-color: #ccc;
}

#slider{
    padding-top: 50%;
    background: url('../img/slider1.jpg') top center / cover;
}

#about{
    background-color: var(--black-color);
}

.about{
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: 64px 1em;
    text-align: justify;
}

.about__row{
    margin: 0 auto;
    max-width: 800px;
    display: flex;
}

.about__col{
    width: 45%;
    padding: 0 1em;
    flex: 1;
}

.about__col__description{
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 1%;
}

.about__col img{ 
    width: 60%;
    text-align: center;
    border-radius: 50%;
    border: 5px solid #a65e1e;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

/* product */
#product{
    display: flex;
    flex-direction: column;
    padding: 64px 1em;
    background-color: #f0f0f0;
}

.product{
    display: flex;
    padding: 2em 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.product__col{
    position: relative;
    border: 1px solid #ccc;
    min-width: 31%;
    max-width: 32%;
    margin: 0.5em 6px;
    background: #fff;
    overflow: visible;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product__col:hover{
    box-shadow: 0 0 0.625em rgb(0 0 0 / 40%);
}

/* Nhãn giảm giá  */

.product__flash-sale {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ffd839;
    right: 0;
    align-items: center;
    line-height: 17px;
    opacity: 0.9;
    padding: 2px 3px;
    font-size: 12px;
    top: 0;
}

.product__flash-sale::after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent rgba(255,212,36,.9);
    border-style: solid;
    border-width: 0 18px 4px;
}

.flash-sale__number {
    color: #f07430;
}

.flash-sale__text {
    color: #fff;
}

/* Nhan yeu thich  */

.product__love-product {
    display: flex;
    color: #fff;
    background-color: #f25220;
    position: absolute;
    top: 0.625em;
    left: -5px;
    align-items: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.product__love-product::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -0.1875rem;
    border-top: 2.7px solid #913113;
    border-left: 5px solid transparent;
}

.product__love-product p {
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 9px;
}

.product__col img{
    display: block;
    width: 100%;
    text-align: center;
}

.product__content{
    padding: 0.5em;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
}

.product__name{
    color: var(--text-color);
}

.product__time-sale {
    display: flex;
    padding: 0.125rem 0.25rem;
    min-height: 0.625em;
    color: var(--primary-color);
    border: 0.0625rem solid var(--primary-color);
    font-size: 1rem;
    align-items: center;
    width: 67.2%;
    margin: 8.5px 0;
}

.product__time-sale--none {
    display: flex;
    min-height: 1.75em;
    border: none;
    width: none;
    color: #fff;
}

.product__sale {
    display: flex;
}

.product__sale-img {
    width: 83% !important;
    height: 40px;
    position: relative;
    display: flex;  
    align-items: center;
    align-content: center;
}

.product__sale-img img {
    width: 50% !important;
    height: 1.875em;
}

.product__sale-content {
    position: absolute;
    top: 0;
    font-size: 17px;
    margin: 0.625em 0.8125em;
    font-weight: 500;
    color: #fff;
}

.product__cost{
    color: var(--primary-color);
    font-weight: 500;
    margin: 0.5em 0;
    font-size: 18px;
}

.product__view-btn{
    color: var(--white-color);
    display: inline-block;
    background-color: var(--primary-color);
    padding: 0.5em;
    border-radius: 4px;
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
}

.product__more {
    display: flex;
    margin-top: 1em;
    width: 100%;
    justify-content: center;
}

.product__more-button {
    border: 1px solid var(--black-color);
    color: var(--text-color);
    background-color: #ddd;
    padding: 8px 16px;
}

/* OPP */

.link-opp{
    padding-top: 50%;
    background: url('../img/tuyendung.png') top center / cover;
}

.opp-btn{
    width: 20%;
    margin-left: 8%;
    margin-bottom: 3%;
}

.opp-btn:hover{
    opacity: 2;
}

#footer{
    padding: 42px 0;
    background-color: #e8e8e8;
    max-width: 100%;
    margin: 0 auto;
}

#footer .row{
    max-width: 438px;
    margin: 0 auto;
}

#footer .col-third{
    flex: 1;
    text-align: center;
    width: 30%;
    display: inline-block;
}

#footer .col-third a{
    display: block;
    margin-bottom: 0.625em;
    letter-spacing: 2px;
    color: var(--black-color);
}

#footer .col-third a:hover{
    color: var(--primary-color);
    font-weight: bold;
}

#footer .icon{
    max-width: 185px;
    margin: 0 auto;
    font-size: 1.875em;
    padding: 2em 0;
    text-align: center;
    display: flex;
}

#footer i{
    padding: 0.5em;
    display: inline-block;
}

#footer i:hover{
    color: rgb(0, 0, 255);
}




